@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
/****************** VARIABLES ******************/
/****************** END VARIABLES ******************/
/****************** MIXINS ******************/
/****************** END MIXINS ******************/
* {
  font-family: "Nunito", sans-serif !important;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  line-height: 1;
  color: #007a67;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  line-height: 1.5;
  font-size: 0.9rem;
  color: #aaa;
}

a {
  color: #007a67;
  text-decoration: none;
}

.grey-border {
  border: 1px solid #aaa;
  border-radius: 5px;
}

body {
  background-color: #e6e6e6;
}

#container {
  width: 100%;
  max-width: 1080px;
  background-color: white;
  margin: 0 auto;
  box-shadow: #aaa 0 0 5px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
@media (min-width: 768px) {
  #container {
    width: 85%;
  }
}
#container header {
  background: #f2f2f2;
  border-bottom: 6px solid #007a67;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}
@media (min-width: 768px) {
  #container header {
    flex-direction: row;
  }
}
#container header a {
  color: #007a67;
  text-decoration: none;
  opacity: 0.9;
  transition: 0.2s;
}
#container header a:hover {
  opacity: 1;
}
@media (min-width: 768px) {
  #container header {
    padding: 5px 50px;
  }
}
#container header .header-left a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  #container header .header-left a {
    flex-direction: row;
  }
}
#container header .header-left a .logo-bug {
  height: 65px;
  transition: 0.2s;
}
#container header .header-left a .logo-text {
  height: 50px;
  margin-left: 10px;
}
#container header .header-left a:hover .logo-bug {
  transform: translateY(20px);
}
#container header nav {
  display: flex;
  flex-direction: row;
}
#container header nav a {
  margin: 0 10px;
  font-weight: 800;
}
@media (min-width: 768px) {
  #container header nav a {
    margin-left: 30px;
  }
}
#container footer {
  margin-top: auto;
  background: #333;
  color: white;
  padding: 5px;
  font-size: 0.7rem;
  text-align: center;
}

/* MAIN PAGES */
main.main-home .breakout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 5px;
  background: #007a67;
  text-align: center;
}
@media (min-width: 768px) {
  main.main-home .breakout {
    padding: 50px 50px;
  }
}
main.main-home .breakout h3 {
  color: white;
  margin-bottom: 10px;
}
main.main-home .breakout form {
  display: flex;
  flex-direction: row;
  width: 80%;
  max-width: 600px;
}
main.main-home .breakout form input[type=text] {
  border-radius: 5px 0 0 5px;
  border: 0;
  padding: 10px 15px;
  text-align: left;
  flex-grow: 5;
}
main.main-home .breakout form input[type=submit] {
  width: auto;
  flex-grow: 1;
  padding: 10px 5px;
  text-align: center;
  border: 0;
  color: #007a67;
  font-size: 1.3rem;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-weight: 800;
}
main.main-home .how-we-work {
  padding: 30px 10px;
  text-align: center;
}
@media (min-width: 768px) {
  main.main-home .how-we-work {
    padding: 30px 50px;
  }
}
main.main-home .how-we-work h3 {
  margin-bottom: 10px;
}
main.main-home .how-we-work .sections {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  main.main-home .how-we-work .sections {
    flex-direction: row;
  }
}
main.main-home .how-we-work .sections section {
  margin: 20px 10px;
}
main.main-home .how-we-work .sections section img {
  height: 100px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  main.main-home .how-we-work .sections section img {
    height: 150px;
    transition: 0.2s transform;
  }
  main.main-home .how-we-work .sections section img:hover {
    transform: scale(1.1) rotate(5deg);
  }
}
main.main-home .how-we-work .sections section h5 {
  color: #4d4d4d;
}

main.main-listing {
  text-align: center;
  padding: 10px;
}
@media (min-width: 768px) {
  main.main-listing {
    padding: 20px 50px;
  }
}
main.main-listing h6 {
  color: #aaa;
}
main.main-listing .restaurants {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}
@media (min-width: 768px) {
  main.main-listing .restaurants {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
  }
}
main.main-listing .restaurants section.restaurant {
  padding: 0;
  border: 1px #aaa solid;
  border-radius: 5px;
}
main.main-listing .restaurants section.restaurant img {
  width: 100%;
  border-radius: 5px 5px 0 0;
  transition: 0.2s filter;
}
@media (min-width: 768px) {
  main.main-listing .restaurants section.restaurant img {
    filter: grayscale(50%);
  }
  main.main-listing .restaurants section.restaurant img:hover {
    filter: grayscale(0);
  }
}
main.main-listing .restaurants section.restaurant .content {
  padding: 10px;
}
main.main-listing .restaurants section.restaurant .content h4 {
  font-weight: 700;
}
main.main-listing .restaurants section.restaurant .content p {
  color: #aaa;
}

main.main-single {
  padding: 50px;
  text-align: center;
}
main.main-single h2 {
  margin: 10px;
  font-weight: 800;
}
main.main-single .restaurant-content {
  margin-top: 30px;
  text-align: left;
}
main.main-single .restaurant-content .menu-section {
  margin-bottom: 40px;
}
main.main-single .restaurant-content .menu {
  margin-top: 10px;
  margin-right: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
main.main-single .restaurant-content .menu .menu-item {
  border: 1px #aaa solid;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
}
main.main-single .restaurant-content .menu .menu-item img {
  border-radius: 5px;
}

main.main-checkout,
main.main-payment {
  padding: 50px;
}
main.main-checkout h5,
main.main-payment h5 {
  color: #4d4d4d;
}
main.main-checkout .checkout-content,
main.main-payment .checkout-content {
  margin: 20px 0;
}
main.main-checkout form,
main.main-payment form {
  margin-right: 30px;
  margin-top: 20px;
}
main.main-checkout form h4,
main.main-payment form h4 {
  margin-bottom: 20px;
}
main.main-checkout form .form-customer,
main.main-checkout form .form-address,
main.main-payment form .form-customer,
main.main-payment form .form-address {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
main.main-checkout form .form-field,
main.main-payment form .form-field {
  display: flex;
  flex-direction: column;
}
main.main-checkout form .form-field input, main.main-checkout form .form-field select,
main.main-payment form .form-field input,
main.main-payment form .form-field select {
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #aaa;
}
main.main-checkout form .dbe-button,
main.main-payment form .dbe-button {
  background-color: #007a67;
  border: 0;
  padding: 10px 15px;
  color: white;
  font-weight: 800;
  border-radius: 5px;
  margin-top: 30px;
  cursor: pointer;
}

main.main-payment .form-payment {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  width: 60%;
  margin-bottom: 40px;
}
main.main-payment .form-payment .payment-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

/* SHARED ELEMENTS */
.basket {
  border: #aaa 1px solid;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
}
.basket .cart-contents {
  text-align: left;
  margin: 10px 0;
}
.basket .cart-contents h6 {
  color: #4d4d4d;
}
.basket .cart-contents .cart-item-listing {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}
.basket .cart-contents .cart-item-listing .item-price {
  text-align: right;
  margin-left: 10px;
}
.basket .cart-contents .cart-item-listing a {
  color: #aaa;
}
.basket .checkout-button {
  background: #007a67;
  color: white;
  font-weight: 800;
  font-size: 1.3rem;
  padding: 10px;
  border-radius: 5px;
}
.basket .totals {
  margin-top: 25px;
}
.basket .totals h6 {
  color: #4d4d4d;
}
.basket .totals .subtotal,
.basket .totals .delivery,
.basket .totals .total {
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
}

.warning {
  display: none;
  background: #c1272d;
  border-radius: 5px;
  padding: 15px 10px;
}
.warning p {
  color: white;
}

/*# sourceMappingURL=style.css.map */
